* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-family: Poppins, Helvetica, Arial, Sans-Serif, serif;
  scroll-behavior: smooth;
}

html,
h1,
body,
h2,
h3,
h4,
th,
td,
tr,
h5,
h6,
table,
tr,
td,
th,
button,
p,
a,
li,
img {
  margin: 0;
  padding: 0;
}

header > div:first-of-type {
  padding:  20px 0;
  margin: 0 auto;
  word-wrap: break-word;

}

span {
  font-size: 35px;
  font-weight: 400;
  display: block;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
}

header > div:nth-of-type(2) {
  padding-top: 40px;
}

main > div:first-of-type {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px ;
}

main > div:first-of-type > div:last-of-type {
  max-width: 60%;
}

.image_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.main_image {
  width: 50%;
}

h1 {
  margin-left: auto;
  font-size: 3em;
  color: #fff;
  font-weight: 800;
  text-align: center;
  position: relative;
  z-index: 100;
  margin-right: auto;
}

main {
  padding: 90px 0;
  margin: 0 auto;
}

p, ul, ol, li {
  font-size: 16px;
  font-weight: 300;
  margin: clamp(1rem,.5em,2.5rem) auto clamp(1rem,.25em,2rem);
  line-height: 1.6;
  text-transform: none;
  color: black;
}

.center {
  text-align: center;
}

main table {
  display: block;
  margin: 15px auto;
  border-collapse: collapse;
  width: fit-content;
  overflow: auto;
}

main tbody {
  width: 100%;
}

main table td {
  border: 1px solid #969292;
  padding: 10px;
  vertical-align: middle
}

.table__container {
  overflow-x: auto;
}

h2, h3 {
  font-family: Mulish,Helvetica,Arial,Sans-Serif,serif;
  font-weight: 700;
  font-size: 2.2em;
  line-height: 1.143;
  margin: clamp(1rem,.5em,2.5rem) auto clamp(1rem,.25em,2rem);
}


.faq > div {
  min-width: 15em;
  position: relative;
  margin-top: 16px;
  width: calc(100% - 215px);
  margin-left: 99px;
}

.select {
  background: #603DBF;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #603DBF solid;
  border-radius: 0.5em;
  padding: 12px 16px;
  cursor: pointer;
}

.select > span {
  font-size: 18px;
  text-align: start;
  font-weight: 500;
}

.select-clicked {
  border: 1px #FFD60E solid;
  border-bottom: none;
}

.dropdown__element > div > p {
  margin: 0;
  color: #fff;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}

.dropdown {
  min-width: 15em;
  position: relative;
  margin-top: 16px;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  background: #603DBF;
  border: 1px #603DBF solid;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #9fa5b5;
  top: 3em;
  width: 100%;
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
  margin-top: 16px;
}

.menu li {
  padding: 0px 16px;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.menu-open {
  display: block;
  opacity: 0.75;
  padding-left: 0;
  background-color: #603DBF;
}

.dropdown__element {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.dropdown--last {
  margin-bottom: 93px;
}

footer {
  background-color: #FFC421;
  padding: 20px 35px;
}

footer > p {
  color: #fff;
  text-align: center;
}

.list_titles {
  margin: 0;
}

.list_titles > li {
  margin: 0;
}

.tables {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.header_container {
  position: relative;
  justify-content: center;
  z-index: 233;
  align-items: center;
  display: flex;
  gap: 30px;
}

.list_titles > li > a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

header > div:first-of-type > div {
  margin: 0 auto;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}

header > div:first-of-type {
  background-color: #FFC421;
}

.game_container {
  position: fixed;
  top: 0;
  display: none;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .95);
  z-index: 99999;
  overflow: hidden;
}

.hidden {
  overflow: hidden;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.buttons > a {
  color: #fff;
  white-space: nowrap;
  text-decoration: none;
  background-color: #603DBF;
  padding: 10px 20px;
  font-weight: bolder;
}

.button_close {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  background-color: #195cbd;
  border: 2px solid #fff;
  transition: all .2s;
  z-index: 12;
  cursor: pointer;
}

.button_close::after {
  content: '\2716';
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  transform: translate(-50%, -50%);
  color: inherit;
}

.game_open {
  display: block;
}

.iframe_wrapper {
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-height: 400px;
  height: 80%;
  min-width: 300px;
  z-index: 1000000;
}

iframe {
  width: 100%;
  height: 80vh;
  border: 0;
  overflow: hidden;
}

.iframe_button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 56px;
  border-radius: 10px;
  line-height: 56px;
  text-align: center;
  background-color: #1292f0;
  font-size: 18px;
  color: #fff;
  padding: 0 22px;
  z-index: 22222222;
  border: none;
  cursor: pointer;
  animation: moving 1s ease-in 4s;
  animation-fill-mode: forwards;
}

.wrapper {
  width: 50%;
  position: relative;
}

.game {
  width: 100%;
  position: relative;
  left: 50%;
  filter: blur(3px);
  max-height: 400px;
  -webkit-filter: blur(3px);
  min-height: 300px;
  transform: translateX(-50%);
}

.play_button {
  background-color: transparent;
  border: none;
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play {
  height: 130px;
}

.play_text {
  position: absolute;
  white-space: nowrap;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  left: 15%;
  top: 40%;
}

.logo {
  width: 25%;
  min-width: 200px;
}

.images {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.center_image {
  width: 45%;
}

.table_image {
  width: 350px;
}

.images_in_table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media (min-width: 76px) {
  header > div:first-of-type > div, h1, .container {
    width: 90%;
  }
}

@media (min-width: 7768px) {
  header > div:first-of-type > div, h1, .container {
    max-width: 720px;
  }
}

@media (min-width: 1024px) {
  header > div:first-of-type > div, h1, .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  header > div:first-of-type > div, h1, .container {
    max-width: 1282px;
  }

  h1 {
    max-width: 1282px;
  }
}

@media (max-width: 1200px) {
  header > div:first-of-type > div {
    flex-direction: column;
  }

  .buttons {
    margin-top: 20px;
  }
}

@media (max-width: 1024px) {
  .header_container, .tables {
    flex-direction: column;
  }

  .container {
    padding-top: 40px;
  }

  .wrapper {
    width: 90%;
  }

  .image_container {
    flex-direction: column;
  }

  .main_image {
    width: 100%;
  }

  .images_in_table {
    flex-direction: row;
    gap: 20px;
  }

  .table_image {
    width: 45%;
  }
}

@media (max-width: 720px) {
  main > div:first-of-type {
    flex-direction: column;
  }

  main > div:first-of-type > div:last-of-type {
    max-width: 100%;
  }

  h2, h3 {
    font-size: 2em;
  }

  h1 {
    line-height: 40px;
    font-size: 2.5em;
  }

  .list_titles {
    padding-left: 20px;
  }

  .images, .images_in_table {
    flex-direction: column;
  }

  .center_image, .table_image {
    width: 100%;
  }
}